[flake8]

# E402 module level import not at top of file
# E501 line too long (83 > 79 characters)
# F821 undefined name '_'

exclude = .git

max-line-length = 79

per-file-ignores =
    ./grass-gis-addons/i.s2_id.download/i.s2_id.download.py: E501