{
  "list": [
    {
      "id": "template_S2_processing_1",
      "module": "template_S2_processing",
      "inputs": [
        {
          "param": "iteration",
          "value": {{ iteration | tojson }}
        },
        {
          "param": "tile_id",
          "value": "{{ tile_id }}"
        },
        {
          "param": "product_names",
          "value": "{{ product_names }}"
        },
        {
          "param": "stac_item_id_prefix",
          "value": "{{ stac_item_id_prefix }}"
        },
        {
          "param": "stac_item_title",
          "value": "{{ stac_item_title }}"
        },
        {
          "param": "stac_item_description",
          "value": "{{ stac_item_description }}"
        },
        {
          "param": "stac_catalog_url",
          "value": "{{ stac_catalog_url }}"
        },
        {
          "param": "stac_collections",
          "value": "{{ stac_collections }}"
        }
      ]
    }
  ],
  "version": "1"
}